/**
 * @file
 *
 * Markup of the pager.
 */

div#pager-block * {
  outline: none;
}

div#pager-block {
  margin: 0 auto;
  width: 230px;
}

div#pager-block ul {
  list-style-type: none;
}

div#pager-block ul li {
  border: 1px solid #DDD;
  float: left;
  margin-right: 5px;
  height: 25px;
  text-align: center;
  width: 25px;
}

div#pager-block ul li a {
  width: inherit !important;
}

div#pager-block ul li.active-page {
  background-color: #CCC;
  font-size: 120%;
  font-weight: bold;
}

div#pager-block .ajax-progress {
  display: none;
  width: 1px;
}
