/**
 * @file
 *
 * General markup of the module.
 */

 .clear {
   clear: both;
   float: none;
}

.voxb {
  clear: both;
  background-color: #F6F6F2;
  width: 100%;
}

.voxb-review {
  margin-bottom: 15px;
}

.add-review-textarea {
  width: 100%;
  height: 100px;
}

#edit-rating, div.ajax-anim, #voxb-item {
  display: none;
}

div.ajax-anim {
  background-image: url('../img/throbber.gif');
  background-repeat: no-repeat;
  background-position: 0 -18px;
  float: left;
  height: 15px;
  line-height: 19px;
  width: 15px;
}

.voxb-rating .rating {
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 4px;
}

.voxb-rating .rating.star-on {
  background-image: url('../img/star-on.png');
}

.voxb-rating .rating.star-off {
  background-image: url('../img/star-off.png');
}

.voxb-rating .rating.star-hover {
  background-image: url('../img/star-hover.png');
}

.user-rate .ajax-progress, .tags-container .message, .add-review-container .message {
  display: none;
}

.record-tag-highlight div, .record-tag-highlight .tag {
  float: left;
}
